<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <h1>Search Results</h1>
    <ul>
        <% books.forEach(book => { %>
        <li>
            <p><%= book.title %></p>
            <p><img src=<%= book.image_url %>></p>
            <p><%= book.authors%></p>
            <p><%= book.description%></p>
        </li>
        <% }) %>
    </ul>
</body>
</html>