<header>
    <nav>
      <div class="list">
        <i class="fa fa-bars menu" aria-hidden="true"></i>
      </div>
      <ul>
        <li>
          <a href="/">Home </a>
        </li>
        <li>
          <a href="/searches/new">Find Book </a>
        </li>
        <li>
          <a href="#">Books </a>
        </li>
        <li>
          <a href="#">Contact </a>
        </li>
      </ul>
    </nav>
    <h1> Best Books! </h1>
  </header>